<div class="products-container">
  <h1 class="products-title">Login</h1>

  <div>
    <form id="loginForm">

      <label>Email</label>
      <input type="email" name="email">

      <label>Password</label>
      <input type="password" name="password">

      <input type="submit" value="Send">
    </form>
    <p>¿No estás registrado? <a href="/register">Regístrate aquí</a></p>
    <a href="/api/sessions/github"><button>Autenticarse con GitHub</button></a>
  </div>
</div>

<script src="/js/login.js"></script>
