<div class="products-container">
	<h1 class="products-title">Register</h1>

<div>
  <form id="registerForm">

    <label>First name</label>
    <input type="text" name="first_name">

    <label>Last name</label>
    <input type="text" name="last_name">

    <label>Email</label>
    <input type="email" name="email">
    
    <label>Edad</label>
    <input type="text" name="age">

    <label>Password</label>
    <input type="password" name="password">

    <input type="submit" value="Send">
  </form>

  <p>¿Ya tienes una cuenta? <a href="/login">Ingresa aquí</a></p>
</div>

</div>

<script src="/js/register.js"></script>