.products-container {
    max-width: 600px; /* Aumentado el ancho máximo */
    margin: 50px auto;
    padding: 30px; /* Aumentado el espacio interno */
    background-color: #333;
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Centrado el texto */
  }
  
  .products-title {
    font-size: 24px; /* Aumentado el tamaño del título */
  }
  
  form {
    margin-top: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 12px; /* Aumentado el espacio interno del input */
    margin-bottom: 15px;
    border: 1px solid #555;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #444;
    color: #fff;
  }
  
  input[type="submit"] {
    background-color: #4caf50;
    color: white;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  
  p {
    margin-top: 15px;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  button {
    background-color: #24292e;
    color: #ffffff;
    padding: 12px; /* Aumentado el espacio interno del botón */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #55768f;
  }
  
  button:hover {
    background-color: #1d2124;
  }
  